<% if micropost.like_user(current_user.id) %>
  <%= button_to micropost_like_path(micropost_id: micropost.id, id: 2), method: :delete, id: "like-of-#{micropost.id}", remote: true do %> 
    <%= image_tag("icon_red_heart.png") %>
    <span>
      <%= micropost.likes.count %>
    </span>
  <% end %>
<% else %>
  <%= button_to micropost_likes_path(micropost, id: 2),id: "like-of-#{micropost.id}", remote: true do %>  
    <%= image_tag("icon_heart.png") %>
    <span>
      <%= micropost.likes.count %>
    </span>
  <% end %>
<% end %>

