<div class="row">
  <div class="col-md-6">
    <div class="user-profile">
      <div class="icon text-center">
        <img src="<%= gravatar_url(@user, size: 300) %>" alt="" class="img-circle">
      </div>
      <div class="name text-center">
        <h1><%= @user.name %></h1>
      </div>
    </div>
  </div>
  
<div class="col-md-6">
  <h2>過去の投稿</h2>  
  <ul class="media-list">
  <% @microposts.each do |micropost| %>
    <li class="media">
      <div class="media-body">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">
                    <%= link_to micropost.category.content, category_path(micropost.category) %>
                    <span class="text-dark"><%= micropost.created_at %></span> 
                  </h3>
              </div>
              <div class="panel-body">
                  <div>
                      <p><%= micropost.content %></p>
                      <!--like拡張機能-->
                      <span id="like-of-<%= micropost.id %>">
                      <%= render partial: 'likes/like', locals: { micropost: micropost, likes: @likes } %>
                      </span>
                  </div>
              </div>
          </div>
          <div>
          <% if current_user == micropost.user %>
            <%= link_to "削除", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div> 
          
      </div>
    </li>
  <% end %>
  <%= paginate @microposts %>
</ul>
</div>